mat-form-field {
    width: 20vw;
    margin-bottom: 10px;
}

mat-label {
    float: left;
    width: 14vw;
}

.wrapper-item {
    display: flex;
    width: 100%;
    align-items: center;
}

.left, .right {
    float: left;
    width: 45%;
}

.right {
  margin-top: 3vh;
  margin-left: 5vw;
  width: 45%;
}
